#resultado{
    border:1px solid black;
    width: 210px;
    height: 40px;
    margin-bottom: 8px;
    background-color: rgb(228, 226, 226);
}
button{
    width: 49px;
    height: 40px;
    border: 1px solid black;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.418);
    background-color: rgb(235, 233, 233);
}
#maior{
    width: 102px;
    height: 40px;
    
}
section{
    padding: auto;
    margin: auto;
    width: 300px;
}
span{
    border:1px solid black;
    width:212px;
    display:grid;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    background-color: gray;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.418);
}
div{
    width: 212px;
    margin: auto;
    
}
header{
    display: grid;
    margin-bottom: 50px;
}
h1{
    margin: auto;
}
html{
    background-color: white;
}